# User Specified
Flask==0.10.1
gunicorn==19.1.0
Flask-SQLAlchemy==1.0
PyMySQL==0.6.2
Flask-Admin==1.0.8

# Auto Loaded Dependencies
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
itsdangerous==0.24
wsgiref==0.1.2
